<li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
    <div class="d-flex flex-column width-100">
        <h4><%- option.optionName %></h4>
        <%= option.optionDescription %><br>
        <select <% if(option.optionType.disabled){ %>disabled
                <% } %>
                <% if(!Allowed.allowed){ %>disabled
                <% } %>
                formType="channelSelect"
                defaultValue=""
                id="<%= option.optionId %>" class="col-md-12"
                style="height:30px; <% if(!Allowed.allowed){ %>border-color: red;<% } %> ">
            <%
            let ioooooo = 0;
            let functiona = option.optionType.function(bot, guildid);
            functiona.values.forEach(value=>{ %>
                <option value="<%= value %>"
                        <% if(actual[s.categoryId][option.optionId] == value){ %>selected
                        <% } %>
                ><%= functiona.keys[ioooooo] %></option>
                <!--omg i forgot this shit like functiona iooooooo and iooooooooooooo and ioooooooooooooooooooooooooooooooooo lol-->
            <%
                ioooooo++;
            }) %>
        </select>
    </div>
</li>

