<% if(!Allowed.allowed){ %><span style="color: red;"><%- Allowed.errorMessage %></span><br><% } %>
<select class="form-control"
        <% if(!Allowed.allowed){ %>style="border-color: red;"
        <% } %>
        formType="select"
        id="<%= option.optionId %>"
<% if(option.optionType.disabled){ %>
        disabled
        <% } %>
        name="<%= option.optionId %>">
    <%
    let ioo = 0;
    option.optionType.data.values.forEach(value=>{ %>
        <option value="<%= value %>"
                <% if(actual[s.categoryId][option.optionId] == value){ %>selected
                <% } %>
        ><%= option.optionType.data.keys[ioo] %>
        </option>
    <%
        ioo++;
    }) %>
</select>
