<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
             aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default"><%- title %></h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="resetURL()">

                        </button>
                    </div>
                    <div class="modal-body">
                        <h5><%- subtitle %></h5>
                        <% errors.forEach(e=>{ %>
                            <%= e.split('%is%')[0] %>: <%= e.split('%is%')[1] %> <!--(id: <%= e.split('%is%')[2] %>)-->
                            <br>
                        <% }) %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-primary" data-bs-dismiss="modal"
                                onclick="resetURL()">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>